:root {
    --blue-bg: darkcyan;
    --text-light:   #CAF0F8;
    --text-dark:    #1B1B1B;
    --red-weak:     #E53935;
    --red-strong:   #B71C1C;
    --green-weak:   #43A047;
    --green-strong: #2E7D32;
    --gray-weak:    #BDBDBD;
    --gray-strong:  #757575;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

